.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.admin-header {
    margin-bottom: 50px;
}

.plans-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
}

.plans-table th,
.plans-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.plans-table th {
    background-color: #f4f4f4;
}

.content-wrapper {
    padding-top: 100px; /* Add padding to avoid overlap with the header */
}
