body {
    font-family: Arial, sans-serif;
}

.pricelist-area {
    padding: 20px;
}

.center-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.admin-actions {
    margin-bottom: 20px;
    text-align: center;
}

#plan-form {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
